<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>About Flora Yuan</title>
    <!-- End of head content specific to page -->
</div></head>

<body>
    <div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
        <h1>About Me</h1>
        <p> Hi, my name is Flora.  A fun fact about myself is that I'm Canadian.</p>
        <img src="/static/images/flower.jpg" th:src="@{/images/flower.jpg}" alt="lol me"><br>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><h2>Free Money<h2></a>
    <!-- End of body content specific to page -->


    </div>
</body>

<style>
    body {background-color: #72c0fc;}
    .p1 {
        font-family: "Times New Roman", Times, serif;
    }

    .p2 {
        font-family: Arial, Helvetica, sans-serif;
    }

    .p3 {
        font-family: "Lucida Console", "Courier New", monospace;
    }
</style>

</html>