<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>About Flora Yuan</title>
    <!-- End of head content specific to page -->
</div></head>

<body>
    <div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
        <h1>About Me</h1>
        <p> Hi, my name is Flora.  A fun fact about myself is that I'm Canadian.</p>
        <img src="/static/images/flower.jpg" th:src="@{/images/flower.jpg}" alt="lol me"><br>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><h2>Free Money<h2></a><br>

        <form action="/floraabout" method="GET" id="floraaboutForm">
             <div>
                <label for="FavNumber">What is your favorite number?</label>
                <input name="name" id="FavNumber">
                <button>Submit</button>
                <p th:text="'Hello, Your Favorite Number is ' + ${name} + '!'"></p>
             </div><br>
    <h2>Change Background Color!</h2>
    <input type="text" id="colorInputText">
    <input type="color" id="colorInputColor">
    <input type="button" id="colorButton" value="Click to Change Color"
    onclick="changeColor()">
            <script>
                function changeColor() {
                    let color = document.getElementById('colorInputColor').value;
                    document.body.style.backgroundColor = color;
                    document.getElementById('colorInputText').value = color;
                }
            </script>

    <!-- End of body content specific to page -->

    </div>
</body>

<style>
    body {background-color: #72c0fc;}
    .p1 {
        font-family: "Times New Roman", Times, serif;
    }

    .p2 {
        font-family: Arial, Helvetica, sans-serif;
    }

    .p3 {
        font-family: "Lucida Console", "Courier New", monospace;
    }
</style>

</html>