<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>factorial calculator</title>
    <!-- End of head content specific to page -->
</div>
    <meta charset="UTF-8">
</head>
<body layout:fragment="content" th:remove="tag">
    <p>testing</p>
    <p>this is for grayscale code</p>
</body>
</html>