<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>Images Grayscale</title>
    <!-- End of head content specific to page -->
</div></head>

<body>
    <div layout:fragment="content" th:remove="tag" style="height:100%;">
    <!--
    <div class="container">
        <h1 class="text-center">RGB values within an Image</h1>
        <p><small><a href="/image/grayscale">Grayscale</a></small></p>
        <div class="row justify-content-md-center">
            <table class="table">
                <thead>
                <tr>
                    <th>Meta Data</th>
                    <th>Image</th>
                    <th>Samples of Data</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ii: ${lii}">
                    <td>
                        <div th:text="${ii.getFile()}">File name</div>
                        <div th:text="'(' + ${ii.getHeight()} + ',' + ${ii.getWidth()} + ')'">Height,Width</div>
                    </td>
                    <td>
                        <img class="img-responsive py-3" th:src="@{${ii.getFile()}}" alt="" src="${ii.getFile()}" width=128 height="Auto">
                    </td>
                    <td>
                        <div class="overflow-auto" style="height: 256px">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Row</th>
                                    <th>Column</th>
                                    <th>RGB</th>
                                    <th>Hex Code</th>
                                    <th>Binary</th>
                                </tr>
                                </thead>
                                <tbody>
                                <span th:each="row: ${#numbers.sequence(0, ii.getScaled_height()-1)}">
                                        <tr th:each="col: ${#numbers.sequence(0, ii.getScaled_width()-1)}">
                                            <td th:text="${ii.getScaled_height(row)}">row</td>
                                            <td th:text="${ii.getScaled_width(col)}">column</td>
                                            <td th:text="${ii.getRGB(row,col)}">cell</td>
                                            <td th:text="${ii.getHexCode(row,col)}">cell</td>
                                            <td th:text="${ii.getBinary(row,col)}">cell</td>
                                        </tr>
                                    </span>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>
-->
        <h1 class="text-center">Grayscale an Image</h1>
        <form name="image1" method="GET" id="imagechange">
            <input name="image" id="image1" id="grayscale">
            <label>Image 1: Please list a file directory</label>
            <button>Go!</button>
        </form>
        <form name="image1" method="GET" id="imagechange2">
            <input name="image"  id="grayscale2" type="text">
            <label>Image 1: Please list a file directory</label>
            <button>Go!</button>
        </form>
        <form name="image1" method="GET" id="imagechange3">
            <input name="image"  id="grayscale3" type="text">
            <label>Image 1: Please list a file directory</label>
            <button>Go!</button>
        </form>
        <form name="image1" method="GET" id="imagechange4">
            <input name="image"  id="grayscale4">
            <label>Image 1: Please list a file directory</label>
            <button>Go!</button>
        </form>
        <form name="image1" method="GET" id="imagechange5">
            <input name="image"  id="grayscale5">
            <label>Image 1: Please list a file directory</label>
            <button>Go!</button>
        </form>
        <form name="image1" method="GET" id="imagechange6">
            <input name="image"  id="grayscale6">
            <label>Image 1: Please list a file directory</label>
            <button>Go!</button>
        </form>
        <form name="image1" method="GET" id="imagechange7">
            <input name="image" id="grayscale8">
            <label>Image 1: Please list a file directory</label>
            <button>Go!</button>
        </form>
        <form name="image1" method="GET" id="imagechange8">
             <input name="image" id="grayscale9">
            <label>Image 1: Please list a file directory</label>
        <button>Go!</button>
    </form>
        <form name="image1" method="GET" id="imagechange9">
            <input name="image" id="grayscale10">
            <label>Image 1: Please list a file directory</label>
            <button>Go!</button>
        </form>
        <form name="image1" method="GET" id="imagechange10">
            <input name="image" id="grayscale7">
            <label>Image 1: Please list a file directory</label>
            <button>Go!</button>
        </form>


    </div>
</body>

</html>