<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>Images Grayscale</title>
    <!-- End of head content specific to page -->
</div></head>

<body>
    <div layout:fragment="content" th:remove="tag" style="height:100%;">
    <!--
    <div class="container">
        <h1 class="text-center">RGB values within an Image</h1>
        <p><small><a href="/image/grayscale">Grayscale</a></small></p>
        <div class="row justify-content-md-center">
            <table class="table">
                <thead>
                <tr>
                    <th>Meta Data</th>
                    <th>Image</th>
                    <th>Samples of Data</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ii: ${lii}">
                    <td>
                        <div th:text="${ii.getFile()}">File name</div>
                        <div th:text="'(' + ${ii.getHeight()} + ',' + ${ii.getWidth()} + ')'">Height,Width</div>
                    </td>
                    <td>
                        <img class="img-responsive py-3" th:src="@{${ii.getFile()}}" alt="" src="${ii.getFile()}" width=128 height="Auto">
                    </td>
                    <td>
                        <div class="overflow-auto" style="height: 256px">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Row</th>
                                    <th>Column</th>
                                    <th>RGB</th>
                                    <th>Hex Code</th>
                                    <th>Binary</th>
                                </tr>
                                </thead>
                                <tbody>
                                <span th:each="row: ${#numbers.sequence(0, ii.getScaled_height()-1)}">
                                        <tr th:each="col: ${#numbers.sequence(0, ii.getScaled_width()-1)}">
                                            <td th:text="${ii.getScaled_height(row)}">row</td>
                                            <td th:text="${ii.getScaled_width(col)}">column</td>
                                            <td th:text="${ii.getRGB(row,col)}">cell</td>
                                            <td th:text="${ii.getHexCode(row,col)}">cell</td>
                                            <td th:text="${ii.getBinary(row,col)}">cell</td>
                                        </tr>
                                    </span>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>
-->
        <h1 class="text-center">Grayscale an Image</h1>
        <div id="size1">
        <form name="grayscale" method="GET" id="conversion" class="center">
            <input type="submit" id="convert" name="go" value="Convert!">
        </form>
    </div>

    <div id="header">
        <p>Grayscale</p>
        <p>binary</p>
        <p>decimal</p>
        <p>rgb</p>
        <p>hex</p>
        <p>base64</p>
    </div>


        <div class="size" > <!--restrict to left side-->
            <img src="/static/images/yummy.jpg" th:src="@{/images/harryunfortunately.png}" alt="menu" height="auto" width="100%">
        </div>

        <div class="size">
            <a id="lol"><img src="/static/images/yummy.jpg" th:src="@{/images/Capture.PNG}" alt="menu" height="auto" width="100%"></a>
            <p id="lols"></p>
        </div>

        <div class="size">
            <img src="/static/images/yummy.jpg" th:src="@{/images/donuts.jpg}" alt="menu" height="auto" width="100%">
        </div>

        <div class="size">
            <img src="/static/images/yummy.jpg" th:src="@{/images/milk.jpeg}" alt="menu" height="auto" width="100%">
        </div>

        <div class="size">
            <img src="/static/images/yummy.jpg" th:src="@{/images/Mona_Lisa.png}" alt="menu" height="auto" width="100%">
        </div>

        <div class="size">
            <img src="/static/images/yummy.jpg" th:src="@{/images/mountain.jpg}" alt="menu" height="auto" width="100%">
        </div>

        <div class="size">
            <img src="/static/images/yummy.jpg" th:src="@{/images/yummy.jpg}" alt="menu" height="auto" width="100%">
        </div>

        <div class="size">
            <img src="/static/images/yummy.jpg" th:src="@{/images/cursed-meme.jpg}" alt="menu" height="auto" width="100%">
        </div>

        <div class="size">
            <img src="/static/images/yummy.jpg" th:src="@{/images/boku.jpg}" alt="menu" height="auto" width="100%">
        </div>

        <div class="size">
            <img src="/static/images/yummy.jpg" th:src="@{/images/noo.jpg}" alt="menu" height="auto" width="100%">
        </div>

        <div class="size">
            <img src="/static/images/yummy.jpg" th:src="@{/images/unnamed.jpg}" alt="menu" height="auto" width="100%">
        </div>


        <style>
            #header{
                right:0;
                width:80%;
                display:flex;
                position:relative;
                justify-content: space-between;
            }
            .size{
                position:relative;
                width:20%;
                border:none;
                margin:0;
                padding-top:10px;
                padding-bottom: 15px;
                height:auto;
                top:10%;
            }
            #size1{
                position:relative;
                border:10px;
                width:100%;
                height:20px;
            }
          .center{
              margin:0;
              position:absolute;
              top:50%;
              left:50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
          }
            .text-center{
                text-align:center;
            }

        </style>
        <script>
            document.getElementById("convert").onclick = function header(){

            }
            document.getElementById("lol").onclick= function myFunction() {
                document.getElementById("lols").innerHTML = "^this shit would lowkey scare me if it was the first thing i saw when I wake up";
                setTimeout(function(){
                    document.getElementById("lols").innerHTML = null ;
                }, 3000);
            }
        </script>
    </div>
</body>
<!--
image info required
    base64 encoding
    RGB attributes
        decimal
        hexadecimal
        binary

----flow chart----
button>process image>outputs attributes to table(hopefully) and grayscale image
-->
</html>