
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>About Kyle M</title>
    <!-- End of head content specific to page -->
</div></head>

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->

    <p>Hello, this is Kyle's About page! </p>
    <p>Here's a simple number trick! <br> Think of a number between 1 and 9 <br> Multiply by 5 <br> Add 8 <br> Multiply by 2 <br> Add another number between 1 and 9 <br> Add 16 </p>

    <script type="text/javascript">
        function numbertrick(){

            var val = parseInt(document.getElementById("Question").value);

            val = val - 32;
            var second = val % 10;
            val = val - second;
            var first = val / 10;

            if(first == second){
                alert("Your first number was " + String(first) + " and your second number was also " + String(second) + "!");
            }else{
                alert("Your first number was " + String(first) + " and your second number was " + String(second) + "!");
            }}
    </script>
    <div class="contact" style="height: 35vh;">
        <div class="row justify-content-left" style="margin: 2%;">
            <form action="/kyleabout" method="GET" id="kyleaboutForm">
                <div>
                    <label>What answer did you get?</label>
                    <input name="name2" id="Question" placeholder="Question">
                    <button onclick = "numbertrick()" id="button1">Submit</button>
<!-- test 4 -->
                </div>
            </form>
        </div>
    </div>


</div>
<!-- End of body content specific to page -->
</div></body>

</html>