<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webOrder</title>
<!--
!!!layout not final!!!
site layout:
----------------------------------------------|
Food+price |  checkboxes |     price of       |
           |             |       order        |
           |             |                    |
           |             |--------------------|
           |             |                    |
           |             |      checkout      |
           |             |      button        |
           |             |                    |
           |             |                    |
           |             |                    |
           |             |                    |
           |             |                    |
           |             |                    |
----------------------------------------------|


神は私を助けてくれます、このレイアウトの設計を助けてくれる人は誰もいません
-->
</head>
<body>
<p> order page, implement some java script maybe お願いします</p>

</body>
</html>