<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>About Yajat Yadav</title>
    <!-- End of head content specific to page -->
</div></head>

<body th:style="'background-image:url(' + @{/images/mountain.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">

<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <p style = "font-size: 30px; color:#FF0000;"> Hello, this is Yajat's About Me Page. A fun fact about me is that my birthday falls on pi day!</p>

<!--    formula to find weekday used from https://cs.uwaterloo.ca/~alopez-o/math-faq/node73.html-->
    <script type="text/javascript">
        function birthday(){
            var month = parseInt(document.getElementById("month").value);
            var day = parseInt(document.getElementById("day").value);
            var year = parseInt(document.getElementById("year").value);

            if(month >= 3){var newmonth = month - 2;}
            else if(month == 1){var newmonth = 11;}
            else{var newmonth = 12;}

            var century = Math.trunc(year/100);

            if(month>=3){var newyear = year - (century * 100);}
            else{var newyear = year - (century * 100) - 1;}

            var sum = (day + Math.floor(2.6*(newmonth) - 0.2) - (2 * century) + newyear + Math.floor(newyear/4) + Math.floor(century/4));
            if(sum < 0){var weekday = (-sum) % 7;}
            else{var weekday = sum % 7;}

            var days_of_week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
            alert("You were born on a " + days_of_week[weekday] + "!");
        }
    </script>
    <div class="contact" style="height: 35vh;">
        <div class="row justify-content-left" style="margin: 2%;">
            <form action="/yajatabout" method="GET" id="yajataboutForm">
                <div>
                    <label>Find out what day of the week you were born on! Enter the day were you born on</label>
                    <input name="name2" id="month" placeholder="Month">
                    <input name="name1" id="day" placeholder="Day">
                    <input name="name3" id="year" placeholder="Year">
                    <button onclick = "birthday()" id="button1">Submit</button>

                </div>
            </form>
        </div>
    </div>


    </div>
    <!-- End of body content specific to page -->
</div></body>

</html>