<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
    <title>Yajat's Algorithm Page</title>
</div>
</head>


<body>
<div layout:fragment="content" th:remove="tag">

    <p> Explain algorithm here </p>

    <script type="text/javascript">
        function fact1(){
            alert(document.getElementById("yajatalgorithmForm").value)
        }
        function fact2(){
            alert("fib2")
        }
        function fact3(){
            alert("fib3")
        }
        function fact4(){
            alert()
        }
    </script>
    <div class="contact" style="height: 35vh;">
        <div class="row justify-content-left" style="margin: 2%;">
            <form id="fibForm" action="/fib" method="GET" >
                <input name="fibseq" id="fibseq" type="number" min="2" max="92" >
                <button>Go!</button>
            </form>


        </div>
    </div>


</div>

<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fyajatyadav%2Fspring_portfolio%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fjava%2Fcom%2Fexample%2Fsping_portfolio%2FTest.java&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>"
<!-- End of body content specific to page -->
</div>

</body>

</html>